In [21]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings('ignore')

In [22]:
# Load and preprocess the dataset
data = pd.read_excel('Online Retail.xlsx')

In [23]:
# Select the relevant columns for clustering
selected_columns = ['Quantity', 'UnitPrice']

In [24]:
# Prepare the data for clustering
X = data[selected_columns]
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [25]:
# Perform K-means clustering
kmeans = KMeans(n_clusters=3)  # You can adjust the number of clusters (K) as needed
kmeans.fit(X_scaled)

KMeans(n_clusters=3)

In [26]:
# Assign cluster labels to the data points
data['ClusterLabel'] = kmeans.labels_

In [27]:
# User input to identify the cluster of a specific data point
user_input = {'Quantity': 6, 'UnitPrice': 2.55}  # Provide the values for the data point
user_input_scaled = scaler.transform([list(user_input.values())])
user_cluster = kmeans.predict(user_input_scaled)[0]

In [28]:
# Get the details of the user's cluster
user_cluster_data = data[data['ClusterLabel'] == user_cluster]

In [29]:
# Print the cluster details
print(f"The user's data point belongs to cluster {user_cluster}.")
print("Cluster details:")
print(user_cluster_data)

The user's data point belongs to cluster 0.
Cluster details:
       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  \
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                    ...        ...         ...             ...
541904 2011-12-09 12:50:00       0.85     12680.0          France
541905 2011-12-09 12:50:00       2.10     12680.0          France
541906 2011-12-09 12:50:00       4.15     12680.0          France
541907 2011-12-09 12:50:00       4.15     12680.0          France
541908 2011-12-09 12:50:00       4.95     12680.0          France

        ClusterLabel
0                  0
1                  0
2                  0
3                  0
4                  0
...              ...
541904             0
541905             0
541906             0
541907             0
541908             0

[541876 rows x 9 columns]